@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
.hero{
    background: url(../images/background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.hero .content{
    text-align: center;
    text-transform: uppercase;
    margin-right: 20px;
}
.content h1{
    font-size: 100px;
    letter-spacing: 10px;
    font-family: 'Fredoka One', cursive;

}
.content button{
    padding: 5px 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: center;
}
.mg-left{
    margin-left: 200px;
}
.nav-img{
    height: 40px;
}